@media (min-width: 768px) and (max-width: 1280px) {

      .mapboxgl-marker {
      	background-image: url('/img/biericon.png');
      	background-size: contain;
      	background-repeat: no-repeat;
      	width: 60px;
      	height: 60px;
      	cursor: pointer;
      	border: 2px solid white;
      	-webkit-box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.46);
      	-moz-box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.46);
      	box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.46);
      	border-radius: 50px;
      	}




}
